label.inline {
  display: inline;
  margin-right: 10px;
}

form.index-filter-form {
  margin-bottom: 0;
}

form.index-filter-form input.button {
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 20px;
}

.index-timestamp {
  font-size: 0.9em;
  font-style: italic;
}

a.index-button {
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 18px;
}

div.flash-container {
}

div.flash-container .flash-message {
  background-color: #ffffd0;
  border: 3px solid #f0f0f0;
  padding: 4px 20px 4px 20px;
}

div.flash-container .flash-error {
  background-color: #ffd0d0;
  border: 3px solid #f0f0f0;
  padding: 4px 20px 4px 20px;
}

form.delete-comment-form {
  display: inline;
}

input.comment-delete-link {
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 18px;
}

form.add_comment_form {
  margin-bottom: 0;
}

span.comment-username {
  font-size: 0.8em;
  font-weight: bold;
}

span.comment-timestamp {
  font-size: 0.8em;
}

a.comment-delete-link {
  font-size: 0.8em;
}

div.comment-text {
  background-color: #f9f9f9;
  border: 3px solid #f0f0f0;
  padding: 5px;
  margin-bottom: 10px;
}

div.delete-todo {
  font-size: 1.3em;
}

div.delete-todo div.todo-details {
  background-color: #f9f9f9;
  border: 3px solid #f0f0f0;
  margin-bottom: 30px;
  padding: 20px;
}

div.delete-user {
  font-size: 1.3em;
}

div.delete-user div.user-details {
  background-color: #f9f9f9;
  border: 3px solid #f0f0f0;
  margin-bottom: 30px;
  padding: 20px;
}

div.show-todo div.todo-details {
  background-color: #f9f9f9;
  border: 3px solid #f0f0f0;
  margin-bottom: 30px;
  padding: 20px;
}

div.delete-todo .field-name {
  font-weight: bold;
}

div.errors {
  background-color: #f4f4f4;
  border: 1px solid #c0c0c0;;
  color: #ff7070;
  margin-bottom: 20px;
  padding: 10px;
}

div.errors h1 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

div.errors ul {
  margin-bottom: 0;
}

div.errors li {
  margin: 0;
  padding: 0;
}

div.info {
  background-color: #f0fff0;
  border: 1px solid #c0c0c0;
  font-size: 1.1em;
  padding: 10px;
  margin-bottom: 5px;
}

div.warning {
  background-color: #ffffc0;
  border: 1px solid #c0c0c0;
  font-size: 1.1em;
  padding: 10px;
}

div.footer {
  font-size: 0.8em;
  height: 40px;
  position: fixed;
  bottom: 10px;
  width: 90%;
}

input.comment-btn {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 24px;
}




.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }

/* Navbar */
.navbar + .docs-section {
  border-top-width: 0; }
.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 6.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.navbar-spacer {
  display: none; }
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; }
.navbar-link.active {
  color: #33C3F0; }
.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0; }
.has-docked-nav .navbar-spacer {
  display: block; }
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container {
  width: 80%; }
